@import "tailwindcss";

@theme {
  --font-syne: var(--font-syne);
  --font-unbounded: var(--font-unbounded);
  --font-space: var(--font-space-grotesk);
  --font-inter: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-amber-6: #F3D673;
}

:root {
  --background: #151410;
  --foreground: #E7E7E7;
  --accent: rgba(231, 231, 231, 0.1);
}

html {
  font-size: 90%;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE / Edge legacy */
}

/* Webkit browsers (Chrome, Safari, Edge Chromium) */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-space), "Helvetica Neue", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

